{% extends "base.html" %}
{% load static %}

{% block title %}Film Search{% endblock %}
{% block css %}{% static "films/style.css" %}{% endblock %}
{% block js %}{% static "films/index.js" %}{% endblock %}

{% block body %}
    <div id="search-container">
        <form id="search" method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <label for="title">Film Search by Title</label>
            <br>
            <input type="text" id="title" name="title" class="text" required>
            <br>
            <button type="submit">Search</button>
        </form>
        <div id="search-results"></div>
    </div>

    <div>
        <h1>{{title}}</h1>
        <h1>{{director}}</h1>
        <h1>{{release_year}}</h1>
        <img src="{{poster}}" alt="Film Poster">
        <h1>{{error_message}}</h1>
    </div>
{% endblock %}